* {
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 3px;
    height: 35px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}
.task-item > * {
    flex-basis: 25%;
    text-align: center;
}

.task-button > button {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 0.75rem;
    margin: 0 5px;
}

.task-remove {
    background-color: rgb(239, 80, 80);
}

.task-remove:hover {
    box-shadow: 0 0 15px rgb(150, 40, 40);
    border-color: rgb(239, 80, 80);
}


.task-remove:active {
    background-color: rgb(197, 40, 40);
}
